<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.superpichen.mainlibrary">

    <application
        android:name=".BaseApplication"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="n">
        <activity android:name=".Activities.OfflineShopActivity1"></activity>
        <activity android:name=".Activities.YoukeActivity" />
        <activity android:name=".Activities.OfflineShopActivity" />
        <activity android:name=".Activities.DuihuanActivity" />
        <activity android:name=".Activities.MallGoodsActivity" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="z4tt90GUtc93MYMzgzocC1MjcP7cmeBw" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity android:name=".Activities.JiJianActivity" />
        <activity android:name=".Activities.DaoHangActivity" />
        <activity android:name=".Activities.SocialActivity" />
        <activity android:name=".Activities.TantanActivity" />
        <activity android:name=".Activities.PaokuActivity" />
        <activity
            android:name=".Activities.HomelandActivity"
            android:screenOrientation="landscape"
            android:theme="@style/MyFullLandscapeScreenTheme" />
        <activity android:name=".Activities.AchievementActivity" />
        <activity android:name=".Activities.TujianActivity" />
        <activity android:name=".Activities.MallActivity" />
        <activity android:name=".Activities.GetPointsActivity" />
        <activity android:name=".Activities.PetMain" />
    </application>

</manifest>