<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.superpichen.mainlibrary">

    <application>
        <activity android:name=".Activities.JiJianActivity"></activity>
        <activity android:name=".Activities.DaoHangActivity" />
        <activity android:name=".Activities.SocialActivity" />
        <activity android:name=".Activities.TantanActivity" />
        <activity android:name=".Activities.PaokuActivity" />
        <activity
            android:name=".Activities.HomelandActivity"
            android:screenOrientation="landscape"
            android:theme="@style/MyFullLandscapeScreenTheme" />
        <activity android:name=".Activities.AchievementActivity" />
        <activity android:name=".Activities.TujianActivity" />
        <activity android:name=".Activities.MallActivity" />
        <activity android:name=".Activities.GetPointsActivity" />
        <activity android:name=".Activities.PetMain" />
    </application>

</manifest>